<div class="w-full">
  <% if notice = flash[:notice] %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render "table", model: controller.model, records: resources, attrs: permitted_attributes, new_path: (authenticated? ? url_for(action: :new) : nil) %>
</div>
