<div class="w-full">
  <h1 class="font-bold text-2xl">New <%= controller.model.model_name.human.downcase %></h1>
  <%= render "form", resource: resource %>
  <%= link_to "Back", url_for(action: :index), class: "link mt-5 inline-block" %>
</div>
