<aside id="default-sidebar" data-sidebar-target="sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-16 transition-transform -translate-x-full sm:translate-x-0 bg-base-100 border-r border-base-content/12" aria-label="Sidenav">
  <div class="overflow-y-auto py-5 px-3 h-full">
    <ul class="menu w-full">
      <% AutoController.sidebar_controllers.each do |sidebar_controller| %>
        <li>
          <%= link_to url_for(controller: "/#{sidebar_controller.controller_path}", action: :index), 
                class: (sidebar_controller.controller_path == controller.controller_path ? "menu-active rounded-2xl" : nil) do %>
            <%= heroicon(sidebar_controller.sidebar_icon || "document-text") %>
            <%= sidebar_controller.model.model_name.human.pluralize %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</aside>
